.container{
    background-color: #131613;
    right: 0;
    bottom: 0;
}
.col-sm-3{
    flex-direction: row;
    margin: 0 ;
    float: left;
}

#number1{
    padding-left: 20em;
}

.col-sm-6{
    float: left;
}

.btn{
    width: 60%;
}

#operaciones{
    margin: 1em 2em;
}

#resultado {
    padding-left: 25em;
}

textarea {
    resize: none;
}
